<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Lotek</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
</head>
<body>

<h2 class="title">Wybierz swoje liczby</h2>

{% for row in numbers %}
<div class="center-table">
    {% for j in row %}
    <div id="{{ j }}" class="ball" onclick="ballClicked(this)">{{ j }}</div>
    {% endfor %}
</div>
{% endfor %}

<div class="separator"></div>

<div id="your_balls" class="center-table">

    <div id="field_0" class="gray_ball">_</div>
    <div id="field_1" class="gray_ball">_</div>
    <div id="field_2" class="gray_ball">_</div>
    <div id="field_3" class="gray_ball">_</div>
    <div id="field_4" class="gray_ball">_</div>
    <div id="field_5" class="gray_ball">_</div>

</div>

<h3 id="randoms_number" class="title">Ilość losowań: 100.000</h3>
<input id="randoms_number_slider" type="range" min="1" max="100000" value="100000" onchange="randomsNumberChanged(this.value)" oninput="randomsNumberChanged(this.value)">
<BR>

<button id="random_button" type="button" class="btn btn-primary center-block" onclick="random()" disabled>Losuj</button>

<div class="progress" hidden>
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span>Losowanie...</span>
    </div>
</div>

<div id="summary" hidden>

    <table class="table">
        <tr><td><h4>6ki</h4></td><td><h4 id="sixes"></h4></td><td><h4 id="sixes_pln"></h4></td></tr>
        <tr><td><h4>5ki</h4></td><td><h4 id="fives"></h4></td><td><h4 id="fives_pln"></h4></td></tr>
        <tr><td><h4>4ki</h4></td><td><h4 id="fours"></h4></td><td><h4 id="fours_pln"></h4></td></tr>
        <tr><td><h4>3ki</h4></td><td><h4 id="threes"></h4></td><td><h4 id="threes_pln"></h4></td></tr>
        <tr><td><h4>2ki</h4></td><td><h4 id="twos"></h4></td><td><h4 id="twos_pln">0 PLN</h4></td></tr>
        <tr><td><h4>1ki</h4></td><td><h4 id="ones"></h4></td><td><h4 id="ones_pln">0 PLN</h4></td></tr>
        <tr><td><h4>Zera</h4></td><td><h4 id="zeros"></h4></td><td><h4 id="zeros_pln">0 PLN</h4></td></tr>
    </table>
    <!--<h4 class="title">Twoje liczby zostały wybrane w losowaniu o numerze:</h4>-->
    <!--<h3 id="random_number" class="title"></h3>-->
    <!--<h4 class="title">Na kupony trzeba byłoby wydać:</h4>-->
    <!--<h3 id="money" class="title"></h3>-->
    <!--<h4 class="title">Zajęło by to:</h4>-->
    <!--<h3 id="time" class="title"></h3>-->
    <!--<h4 class="title">Twój wynik w rankingu:</h4>-->
    <!--<h3 id="order" class="title"></h3>-->
</div>


<BR>

<h3 id="your_money" class="title">Twoje saldo: 0 PLN</h3>
<h3 id="loteks_money" class="title">Lotka saldo: 0 PLN</h3>

<div id="fail" hidden>
    <h4 class="title">Wystąpił problem</h4>
</div>

<BR>

<div id="play_again_container">
</div>

<BR>

<div>
    <h4 class="title">Ranking:</h4>
    <table id="ranking" class="table">
    </table>
</div>

<script>

var selectedNumbers = [];

if (window.localStorage.getItem("token") == null) {
    $.post({
        url: "/user",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    }).done(function( result ) {
        window.localStorage.setItem("token", result["token"]);
        refreshMoney();
    });
} else {
    refreshMoney()
}

function refreshMoney() {
    $.post({
        url: "/money",
        data: {
            token: window.localStorage.getItem("token"),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    }).done(function( result ) {
        $("#your_money").html("Twoje saldo: " + result["yours"].format(0, 3, '.', ',') + " PLN");
        $("#loteks_money").html("Lotka saldo: " + result["loteks"].format(0, 3, '.', ',') + " PLN");
        setTimeout(refreshRanking, 500);
    });
}

function ballClicked(element) {
    if (selectedNumbers.length >= 6) {
        return;
    }

    if (selectedNumbers.contains(parseInt(element.id))) {
        return;
    }

    selectedNumbers.push(parseInt(element.id));
    $("#" +element.id).css("background-image", "url(\"static/gray_ball.png\")");
    selectedNumbers.sort(function(a, b){return a - b});

    var i;
    for (i = 0; i < selectedNumbers.length; i++) {
        $("#field_" + i).html(selectedNumbers[i]);
        $("#field_" + i).css("background-image", "url(\"static/ball.png\")");
    }

    if (selectedNumbers.length == 6) {
        $("#random_button").removeAttr('disabled')
        return;
    }
}

function random() {
    $.post({
        url: "/random",
      data: {
        selectedNumbers: selectedNumbers,
        randomsNumber: $("#randoms_number_slider").val(),
        token: window.localStorage.getItem("token"),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
    }).done(function( result ) {

        var number = result["number"]
        var order = result["order"]

        $(".progress").hide();
        $("#randoms_number").hide();
        $("#randoms_number_slider").hide();
        $("#summary").show();
        $("#sixes").html(result["results"][6]);
        $("#sixes_pln").html(result["results"][6] * 2000000 + " PLN");
        $("#fives").html(result["results"][5]);
        $("#fives_pln").html(result["results"][5] * 3600 + " PLN");
        $("#fours").html(result["results"][4]);
        $("#fours_pln").html(result["results"][4] * 120 + " PLN");
        $("#threes").html(result["results"][3]);
        $("#threes_pln").html(result["results"][3] * 24 + " PLN");
        $("#twos").html(result["results"][2]);
        $("#ones").html(result["results"][1]);
        $("#zeros").html(result["results"][0]);

        refreshMoney();

        $("#play_again_container").html("<button id=\"play_again_button\" type=\"button\" class=\"btn btn-primary center-block\" onclick=\"playAgain()\">Zagraj jeszcze raz</button>");
      }).fail(function() {

        $(".progress").hide();
        $("#fail").show();

        $("#play_again_container").html("<button id=\"play_again_button\" type=\"button\" class=\"btn btn-primary center-block\" onclick=\"playAgain()\">Zagraj jeszcze raz</button>");
      });


    $("#random_button").hide();
    $(".progress").show();
}

function refreshRanking() {
    $.ajax({
      url: "/ranking",
      data: {
      },
      success: function( result ) {
        var i;
        $("#ranking").empty();
        $("#ranking").append("<thead><tr><td>#</td><td>Saldo</td><td>Ilość losowań</td></tr></thead>");
        var content = "<tbody>"
        for (i = 0; i < result.length; i++) {
            content += "<tr><td>" + (i + 1) + "</td><td>" + result[i].money.format(0, 3, '.', ',')  + " PLN</td><td>" + result[i].randoms + "</td></tr>";
        }
        content += "</tbody>"
        $("#ranking").append(content);
      }
    });
}

function playAgain() {
    location.reload();
}

function randomsNumberChanged(value) {
    $("#randoms_number").text("Ilość losowań: " + ((int)value).format(0, 3, '.', ','));
}

Array.prototype.contains = function(obj) {
    var i = this.length;
    while (i--) {
        if (this[i] === obj) {
            return true;
        }
    }
    return false;
}

Number.prototype.format = function(n, x, s, c) {
    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
        num = this.toFixed(Math.max(0, ~~n));

    return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
};

</script>

</body>
</html>